
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.background {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0; left: 0;
  background: rgb(255, 238, 253);
  background-attachment: fixed;
}

.jumbotron {
  background-color: transparent;
  color: black;
  border-radius: 0.25rem;
  padding: 1rem;
  border-bottom: 15px solid #f47aad;
}


.display-3 {
  color: #f47aad;
  font-size: 4.5em;
  line-height: 1.2;
}

.past {
  background-color: lightgrey;
  color: black;
  margin: auto;
  max-width: 70px;
}

.present {
  background-color: #c6fffe;
  color: black;
  margin: auto;
  max-width: 70px;
}

.future {
  background-color: #ffc9da;
  color: black;
  margin: auto;
  max-width: 70px;
}

.saveBtn {
  border-left: 2px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #fa8bb9;
  color: black;
  border: 2px solid #f5609e;
}

.saveBtn:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
  background-color: #FFB3C6;
  border: 2px solid white;
}

.input-group-prepend {
  width: 90px;
}

.input-group-text {
  height: 100%;
}
