body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.background {
  height: 100%;
  width: 100%;
  position: absolute;
}

.jumbotron {
  background-color: transparent;
  color: black;
  border-radius: 0.25rem;
  padding: 1rem;
  border-bottom: 15px solid #FFB3C6;
  text-align: center;
}

.display-3 {
  color: #FFB3C6;
  font-size: 4.5em;
  line-height: 1.2;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  border-radius: 15px;
}

.row {
  border-top: 1px solid white;
}

.hour {
  background-color: rgb(227, 227, 227);
  color: #000000;
  border-top: 1px solid #c3f6f5;
  border: 1px solid lightgrey;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.past {
  background-color: lightgrey;
  color: black;
  margin: auto;
  max-width: 70px;
}

.present {
  background-color: #c3f6f5;
  color: black;
  margin: auto;
  max-width: 70px;
}

.future {
  background-color: #F7D6E0;
  color: black;
  margin: auto;
  max-width: 70px;
}

.saveBtn {
  border-left: 2px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #fbc5d5;
  color: black;
  border: 2px solid #d2728d;
}

.saveBtn:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
  background-color: #FFB3C6;
  border: 2px solid white;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}


